{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule Demo | Homepage</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="google-signin-client_id"
          content="326805507721-q9kmmtktvqjqsjfdmif836ih2njis70o.apps.googleusercontent.com">
    <style>
        a {
            margin-right: 2px;
        }
    </style>
</head>
<body>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function initGapi() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    }
</script>
<div class="container">
    <div class="row">
        <h4 class="col-xs-7">Welcome!! {{ user.name }}</h4>
        {% if user.is_salesman %}
            <a href="{% url 'set-availability' %}" class="btn bg-primary col-xs-2">Change Availability</a>
        {% else %}
            <a href="{% url 'schedule-demo' %}" class="btn bg-primary col-xs-2">Schedule Demo</a>
        {% endif %}

        <a class="btn btn-danger col-xs-2" href="{% url 'logout' %}" onclick="signOut();">Sign out</a>
    </div>
    <div class="row">
        <h3 class="col-xs-12 text-center">
            Below is the list of your demo schedules
        </h3>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js?onload=initGapi" async defer></script>
</body>

</html>